.container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 80%;
}

/* .cards {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(1, auto);
    position: relative;
} */